* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
body {
  font-family: "Lato", sans-serif;
  margin: 0 auto;
}
header {
  background-image: url("../img/png/Rectangle\ 3.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
}
.display {
  background: linear-gradient(
    90deg,
    rgba(213, 32, 71, 0.8) 0%,
    rgba(238, 61, 27, 0.8) 100%
  );
}
.menu {
  max-width: 996px;
  padding: 0 5px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 58px;
}
.menu_name {
  display: flex;
}
.logo {
  width: 25px;
  height: 18px;
  margin-right: 9px;
}
.title {
  font-weight: bold;
  font-size: 18px;
  line-height: 22px;
  color: #101010;
}
.menu_title {
  color: #ffffff;
  text-transform: uppercase;
}
.menu_nav {
  display: flex;
}
.nav {
  padding-right: 20px;
}
.nav_item {
  font-size: 14px;
  color: #fff;
}
.nav_item:hover {
  font-weight: 700;
}
.menu_button {
  width: 100px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  text-align: center;
  padding-top: 14px;
  text-transform: uppercase;
  color: #fff;
}
.heading {
  margin-top: 180px;
  text-align: center;
  padding-bottom: 375px;
}
h1 {
  font-weight: 700;
  font-size: 72px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  margin-bottom: 39px;
  color: #ffffff;
}
.heading_description {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 55px;
}
.headding_button {
  padding: 16px 53px;
  background: #ffffff;
  border-radius: 6px;
  color: #ed4c5c;
  font-weight: 600;
}
.about {
  max-width: 1100px;
  padding: 0 5px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 95px;
}
.about_iformation {
  width: 445px;
  padding-top: 140px;
  padding-bottom: 114px;
}
.about_iformation_name {
  line-height: 43px;
  padding-bottom: 46px;
}
.name {
  font-weight: 600;
  font-size: 36px;
  color: #000;
}
.about_iformation_paragraph {
  line-height: 140%;
  padding-bottom: 10px;
}
.paragraph {
  font-weight: 400;
}
.about_iformation_link {
  color: #ed4c5c;
  padding-bottom: 4px;
}
.about_img {
  width: 445px;
  height: 311px;
  margin-left: 62.5px;
  margin-top: 94px;
}
.about_img_video {
  width: 100%;
  border-radius: 15px;
}
.section {
  max-width: 1440px;
  margin: 0 auto;
}

.features_name {
  padding: 63px 0;
  text-align: center;
}
.cards {
  max-width: 1100px;
  padding: 0 5px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.features_supports_img {
  width: 350px;
  height: 250px;
  border-radius: 8px;
}
.features_supports_information {
  width: 293px;
  height: 198px;
  position: relative;
  top: -92px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  text-align: center;
}
.features_supports_information_name {
  padding-top: 30px;
  padding-bottom: 20px;
}
.name_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #101010;
}
.features_supports_information_paragraph {
  font-size: 12px;
  line-height: 18px;
  padding-bottom: 28px;
}
.features_supports_information_link {
  font-weight: bold;
  font-size: 12px;
  color: #ed4c5c;
  padding-bottom: 25px;
}

.technology_name {
  text-align: center;
  padding-bottom: 52px;
}
.technology_box {
  width: 255px;
  height: 226px;
  background: #ffffff;
  text-align: center;
}
.technology_box_logo {
  padding-top: 59px;
  padding-bottom: 10px;
}
.shild {
  padding-top: 67px;
  padding-bottom: 18px;
}
.pdf {
  padding-top: 69px;
  padding-bottom: 16px;
}
.cvs {
  padding-top: 75px;
  padding-bottom: 27px;
}
.technology_box_name {
  margin-bottom: 10px;
}
.technology_box_paragraph {
  padding-left: 34px;
  padding-right: 30px;
  padding-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
}
.technology {
  padding-bottom: 104px;
}
.focus {
  background: #ed4c5c;
}
.focus_section {
  max-width: 1100px;
  padding: 0 5px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.focus_inofmation {
  width: 445px;
  height: 271px;
  margin-top: 122px;
  margin-bottom: 111px;
  color: #ffffff;
}
.focus_inofmation_name {
  line-height: 43px;
  color: #ffffff;
  padding-bottom: 24px;
}
.focus_inofmation_paragrah {
  margin-top: 24px;
  margin-bottom: 44px;
  line-height: 20px;
  color: #ffffff;
}
.focus_inofmation_social {
  display: flex;
  align-items: center;
}
.social_link {
  padding-right: 23px;
}
.social_link:hover {
  position: relative;
  top: -10px;
}
.focus_img {
  width: 445px;
  height: 311px;
  margin-top: 95px;
  margin-right: 95px;
}
.focus_img_redfone {
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
}
