* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}
body {
  font-family: "Lato", sans-serif;
  margin: 0 auto;
}
header {
  background-image: url("../img/png/Rectangle\ 3.png");
  background-position: 0 0;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}
.header_display {
  background: linear-gradient(
    90deg,
    rgba(213, 32, 71, 0.8) 0%,
    rgba(238, 61, 27, 0.8) 100%
  );
  height: 100vh;
}
.header_menu {
  max-width: 996px;
  padding: 0 5px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 58px;
}
.header_name {
  display: flex;
}
.header_logo {
  width: 25px;
  height: 18px;
  margin-right: 9px;
}
.h3-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
  color: #101010;
}
.header_title_h3 {
  color: #ffffff;
  text-transform: uppercase;
}
.header_nav {
  display: flex;
  margin: 0 auto;
}
.header_item {
  padding-right: 20px;
  font-size: 14px;
  color: #fff;
  font-weight: 400;
}

.header_item:hover {
  text-shadow: 0 0 0.9px #fff, 0 0 0.9px #fff;
}
.header_button {
  width: 100px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  text-transform: uppercase;
  background-color: transparent;
  color: #ffffff;
}
.header_button:hover {
  border: 1px dashed #ffffff;
}
.header_heading {
  margin-top: 180px;
  text-align: center;
}
.h1-title {
  font-weight: 700;
  font-size: 72px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  width: 100%;
}
.header_title_h1 {
  margin-bottom: 39px;
}
.header_description {
  font-weight: 600;
  font-size: 24px;
  line-height: 150%;
  color: #ffffff;
  margin-bottom: 55px;
}
.header_heading_button {
  padding: 16px 53px;
  background: #ffffff;
  border-radius: 6px;
  color: #ed4c5c;
  font-weight: 600;
}
.header_heading_button:hover {
  opacity: 0.5;
}
.about {
  max-width: 1100px;
  padding: 0 5px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 95px;
  padding-top: 94px;
  padding-bottom: 95px;
}
.about_iformation {
  width: 445px;
}
.about_title {
  line-height: 43px;
  padding-bottom: 46px;
}
.h2-title {
  font-weight: 600;
  font-size: 36px;
  color: #000;
}
.about_paragraph {
  line-height: 140%;
  padding-bottom: 10px;
}
.paragraph {
  font-weight: 400;
  color: #101010;
}
.about_link {
  color: #ed4c5c;
  padding-bottom: 4px;
}
.about_link:hover {
  background: #ed4c5c;
  color: #fff;
  border-radius: 5px;
}
.about_img {
  width: 445px;
  height: 311px;
  margin-left: 62.5px;
  margin-top: 94px;
}
.about_photo {
  width: 100%;
  border-radius: 15px;
}
.section {
  max-width: 1100px;
  margin: 0 auto;
}
.features {
  background: #fafafa;
  max-width: 1110px;
  margin: 0 auto;
  padding-top: 63px;
  padding-bottom: 90px;
}

.features_title {
  text-align: center;
  padding-bottom: 63px;
}
.features_cards {
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.features_box {
  width: 350px;
  height: 355px;
  margin-right: 1px;
}

.features_img {
  width: 100%;
  border-radius: 8px;
}
.features_information {
  background: #ffffff;
  border-radius: 8px;
  width: 293px;
  height: 198px;
  padding: 0 32px;
  margin: 0 22.5px;
  position: relative;
  top: -92px;
  box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}
.features_card {
  text-align: center;
}
.features_name {
  padding-top: 30px;
  padding-bottom: 20px;
}
.features_paragraph {
  font-size: 12px;
  line-height: 18px;
  padding-bottom: 20px;
}
.features_link {
  display: inline-block;
  font-weight: bold;
  font-size: 12px;
  color: #ed4c5c;
  padding-bottom: 25px;
}
.features_link:hover {
  opacity: 0.5;
}
.technology {
  padding-bottom: 104px;
}
.technology_title {
  text-align: center;
  padding-bottom: 4px;
}
.technology_cards {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.technology_box {
  width: 255px;
  height: 226px;
  background: #ffffff;
  text-align: center;
}
.technology_logo {
  padding-top: 59px;
  padding-bottom: 10px;
}
.shild {
  padding-top: 67px;
  padding-bottom: 18px;
}
.pdf {
  padding-top: 69px;
  padding-bottom: 16px;
}
.cvs {
  padding-top: 75px;
  padding-bottom: 27px;
}
.technology_name {
  margin-bottom: 10px;
}
.technology_paragraph {
  padding-left: 34px;
  padding-right: 30px;
  padding-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
}

.focus {
  background: #ed4c5c;
  padding-top: 94px;
  padding-bottom: 115px;
}
.focus_section {
  max-width: 1100px;
  padding: 0 5px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.focus_inofmation {
  width: 445px;
  height: 271px;
  color: #ffffff;
  padding-top: 27px;
}
.focus_title {
  line-height: 43px;
  color: #ffffff;
  padding-bottom: 24px;
}
.focus_paragrah {
  margin-top: 24px;
  margin-bottom: 44px;
  line-height: 20px;
  color: #ffffff;
}
.focus_social {
  display: flex;
  align-items: center;
}
.social_link {
  padding-right: 23px;
}
.social_link:hover {
  opacity: 0.5;
}
.focus_img {
  width: 445px;
  height: 311px;
  margin-right: 95px;
}
.focus_redfone {
  width: 100%;
  border-radius: 15px;
  object-fit: cover;
}
.contact {
  max-width: 1100px;
  padding: 0 5px 0 9px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 117px;
  padding-bottom: 123px;
}
.contact_information {
  width: 445px;
  height: 160px;
}
.contact_title {
  padding-bottom: 24px;
}
.contact_paragrah {
  margin-top: 39px;
  line-height: 20px;
  padding-right: 11px;
}
.form-contact {
  width: 540px;
  height: 305px;
}
.form {
  border: 1px solid #333333;
  box-sizing: border-box;
  border-radius: 6px;
  font-size: 16px;
  color: rgba(19, 39, 67, 0.5);
}
.form:focus {
  border: solid #ed4c5c 1px;
  box-shadow: 0 0 20px #ed4c5c;
}
.form:first-child {
  margin-right: 27px;
}
.min {
  width: 255px;
  height: 60px;
  padding-left: 30px;
  padding-right: 27%;
}
.max {
  display: block;
  margin-top: 24px;
  width: 540px;
  height: 60px;
  padding-left: 30px;
  padding-right: 74.5%;
}
.btn-form {
  display: block;
  width: 160px;
  height: 50px;
  background: #ed4c5c;
  border: 1.5px solid #ed4c5c;
  box-sizing: border-box;
  border-radius: 6px;
  margin-top: 27px;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.btn-form:hover {
  border: solid #ed4c5c 1px;
  box-shadow: 0 0 40px #ed4c5c;
}
.footer {
  max-width: 1083px;
  margin: 0 auto;
  background: #fafafa;
  padding-top: 50px;
}
.footer_information {
  display: flex;
  justify-content: space-between;
  margin: 0 5px;
}
.footer_addres {
  width: 259px;
  height: 164px;
}
.footer_title {
  font-size: 18px;
  margin-bottom: 33px;
  font-weight: 700;
}
.footer_list {
  display: flex;
  flex-direction: column;
}
.footer_paragrah {
  font-size: 12px;
  line-height: 18px;
}
.footer_service {
  width: 254px;
  height: 164px;
}
.footer_link_item {
  font-size: 12px;
  line-height: 19px;
  color: #000000;
}
.footer_get_in_touch {
  width: 122px;
  height: 128px;
}
.footer_contact_item {
  display: inline-block;
  margin-bottom: 11px;
  font-size: 12px;
  color: #000;
}
.footer_contact_item:last-child {
  margin-bottom: 20px;
}

.footer_media_item {
  margin-right: 12px;
}
.footer_media_item:hover {
  opacity: 0.5;
}
.footer_media_icon {
  width: 14px;
  height: 14px;
}
.footer_support {
  width: 216px;
  height: 31px;
  margin-left: 15%;
  margin-right: 31px;
}
.footer_author {
  margin-top: 141px;
  padding-bottom: 86px;
}

@media screen and (max-width: 1024px) {
  .features_cards {
    justify-content: center;
    flex-wrap: wrap;
  }
  .features_box {
    margin: 0 15px;
    margin-bottom: 15px;
  }
  .technology_cards {
    flex-wrap: wrap;
    justify-content: center;
  }
  .footer_addres {
    width: 120px;
    height: 175px;
  }
  .footer_service {
    width: 120px;
  }
  .footer_support {
    margin: 0;
  }
}
@media screen and (max-width: 768px) {
  .h1-title {
    font-size: 52px;
  }
  .heading_description {
    font-size: 20px;
  }
  .about {
    flex-direction: column;
    padding: 50px 5px;
    margin: 0 auto;
    align-items: center;
  }
  .about_iformation {
    width: 405px;
  }

  .about_img {
    width: 405px;
    margin: 0;
    padding-top: 40px;
  }
  .header_nav {
    flex-direction: column;
    justify-content: space-between;
  }
  .header_item {
    padding-top: 15px;
    padding-right: 0;
  }
  .header_item:first-child {
    padding-top: 0;
  }
  .features {
    flex-direction: column;
  }
  .focus_section {
    flex-direction: column;
    align-items: center;
  }
  .focus_inofmation {
    width: 405px;
    margin-bottom: 55px;
  }
  .focus_img {
    width: 405px;
    padding-top: 44px;
    margin-right: 0;
  }
  .contact {
    flex-direction: column;
    align-items: center;
  }
  .contact_information {
    margin-bottom: -7px;
    width: 405px;
  }
  .contact_paragrah {
    margin-top: 9px;
  }
  .form-contact {
    width: 405px;
  }
  .min {
    width: 187px;
    padding-right: 19%;
  }
  .max {
    width: 405px;
    padding-right: 65.5%;
  }
  .footer_information {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 425px) {
  .header_menu {
    flex-direction: column;
  }
  .header_nav {
    margin: 10px 0;
    text-align: center;
  }
  .header_heading {
    margin-top: 100px;
  }
  .h1-title {
    font-size: 45px;
  }
  .heading_description {
    font-size: 18px;
  }
  .about_iformation {
    width: 360px;
  }
  .about_img {
    width: 360px;
  }
  .focus_inofmation {
    width: 360px;
  }
  .focus_img {
    width: 360px;
  }
  .contact_information {
    width: 360px;
  }
  .form-contact {
    width: 360px;
  }
  .min {
    width: 165px;
    padding-right: 15%;
  }
  .max {
    width: 360px;
    padding-right: 61.5%;
  }
  .footer_support {
    margin: 0 auto;
  }
  .footer_author {
    margin-top: 120px;
  }
}
